<div>
  <h1>Poslanci</h1>
  <ul style="margin-top: 30px; margin-bottom: 30px;">
    <li>Mgr. Eva Bodnárová</li>
    <li>Ing. Vladimír Netreba</li>
    <li>Ing. Slavomír Ruščák</li>
    <li>Martin Sabol</li>
    <li>Radoslav Semanič</li>
  </ul>

  <hr style="width: 70vw; margin-left: 15vw; margin-top: 30px; margin-bottom: 30px;">

  <h1>Komisie OZ na rok 2022 - 2026</h1>

  <h5 style=" margin-bottom:30px;margin-top: 30px;">Komisia podľa čl. 7 ods. 5 zákona č. 357/2004 Z.z. o ochrane
    verejného záujmu pri
    výkone
    funkcií verejných
    funkcionárov v znení neskorších predpisov</h5>
  <h3 style="margin-bottom: 20px;">Komisia verejného záujmu</h3>
  <p>Predseda – Martin Sabol</p>
  <p>Členovia – Mgr. Eva Bodnárová, Ing. Slavomír Ruščák</p>
  <hr style="width: 80vw; margin-left: 10vw; margin-top: 30px; margin-bottom: 30px;">

  <h3  style="margin-bottom: 20px;">Komisia starostlivosti o životné prostredie a verejného poriadku</h3>
  <p>Predseda – Martin Sabol</p>
  <p>Členovia – Lukáš Eštok, Patrícia Pankuchová</p>
  <hr style="width: 80vw; margin-left: 10vw; margin-top: 30px; margin-bottom: 30px;">

  <h3 style="margin-bottom: 20px;">Komisia kultúry a športu</h3>
  <p>Predseda – Ing. Vladimír Netreba</p>
  <p>Členovia – Andrea Eštoková, Adriána Kováčová</p>
  <hr style="width: 70vw; margin-left: 15vw; margin-top: 30px; margin-bottom: 30px;">

  <h2>Zákon č. 369/1990 Zb.</h2>
  <h3>Zákon Slovenskej národnej rady o obecnom zriadení</h3>
  <h3 style="margin-top: 30px;">§ 11</h3>
  <p style="text-align: left; margin-left: 15vw;">(1) Obecné zastupiteľstvo je zastupiteľský zbor obce zložený z
    poslancov zvolených v priamych voľbách obyvateľmi obce <br> na štyri roky. Volebné pravidlá upravuje osobitný
    predpis. Funkčné obdobie obecného zastupiteľstva sa končí zložením <br> sľubu poslancov novozvoleného obecného
    zastupiteľstva.</p>
  <hr style="width: 80vw; margin-left: 10vw; margin-top: 30px; margin-bottom: 30px;">


  <p>(2) Funkcia poslanca je nezlučiteľná s funkciou</p>
  <ol style="text-align: left; margin-left: 15vw;">
    <li>starostu,</li>
    <li>zamestnanca obce, v ktorej bol zvolený; to neplatí, ak zamestnanec obce je dlhodobo uvoľnený na výkon funkcie
      poslanca,
    </li>
    <li>štatutárneho orgánu rozpočtovej organizácie alebo príspevkovej organizácie zriadenej obcou, v ktorej bol
      zvolený,
    </li>
    <li>podľa osobitného zákona.</li>
  </ol>
  <hr style="width: 80vw; margin-left: 10vw; margin-top: 30px; margin-bottom: 30px;">


  <p>(3) Počet poslancov na celé volebné obdobie určí pred voľbami obecné <br> zastupiteľstvo podľa počtu obyvateľov
    obce
    takto:</p>
  <ol style="text-align: left; margin-left: 15vw;">
    <li>do 40 obyvateľov obce 3 poslanci,</li>
    <li>od 41 do 500 obyvateľov obce 3 až 5 poslancov,</li>
    <li>od 501 do 1 000 obyvateľov obce 5 až 7 poslancov,</li>
    <li>od 1 001 do 3 000 obyvateľov obce 7 až 9 poslancov,</li>
    <li>od 3 001 do 5 000 obyvateľov obce 9 až 11 poslancov,</li>
    <li>od 5 001 do 10 000 obyvateľov obce 11 až 13 poslancov,</li>
    <li>od 10 001 do 20 000 obyvateľov obce 13 až 19 poslancov,</li>
    <li>od 20 001 do 50 000 obyvateľov obce 15 až 25 poslancov,</li>
    <li>od 50 001 do 100 000 obyvateľov obce 19 až 31 poslancov,</li>
    <li>nad 100 000 obyvateľov obce 23 až 41 poslancov.</li>
  </ol>

  <hr style="width: 80vw; margin-left: 10vw; margin-top: 30px; margin-bottom: 30px;">

  <p>(4) Obecné zastupiteľstvo rozhoduje o základných otázkach <br> života obce, najmä je mu vyhradené</p>
  <ol style="text-align: left; margin-left: 15vw;">
    <li>určovať zásady hospodárenia a nakladania s majetkom obce a s majetkom štátu, ktorý užíva, schvaľovať
      najdôležitejšie <br> úkony týkajúce sa tohto majetku a kontrolovať hospodárenie s ním,
    </li>
    <li>schvaľovať rozpočet obce a jeho zmeny, kontrolovať jeho čerpanie a schvaľovať záverečný účet obce, vyhlásiť
      dobrovoľnú <br> zbierku a ustanoviť jej podmienky, schvaľovať emisiu komunálnych dlhopisov, schvaľovať zmluvu
      uzavretú
      podľa § 20 ods. 1, <br> rozhodovať o prijatí úveru alebo pôžičky, o prevzatí záruky za poskytnutie návratnej
      finančnej
      výpomoci zo štátneho<br> rozpočtu; v rozsahu určenom zastupiteľstvom môže zmeny rozpočtu vykonávať starosta,
    </li>
    <li>schvaľovať územný plán obce alebo jej časti a koncepcie rozvoja jednotlivých oblastí života obce,</li>
    <li>rozhodovať o zavedení a zrušení miestnej dane a ukladať miestny poplatok,</li>
    <li>určovať náležitosti miestnej dane alebo miestneho poplatku,</li>
    <li>vyhlasovať miestne referendum o najdôležitejších otázkach života a rozvoja obce a zvolávať zhromaždenie
      obyvateľov obce,
    </li>
    <li>uznášať sa na nariadeniach,</li>
    <li>schvaľovať dohody o medzinárodnej spolupráci a členstvo obce v medzinárodnom združení podľa § 21 ods. 1,</li>
    <li>určiť plat starostu podľa osobitného zákona a určiť najneskôr 90 dní pred voľbami na celé funkčné obdobie rozsah
      výkonu <br>funkcie starostu; zmeniť počas funkčného obdobia na návrh starostu rozsah výkonu jeho funkcie,
    </li>
    <li>voliť a odvolávať hlavného kontrolóra obce (ďalej len „hlavný kontrolór“), určiť rozsah výkonu funkcie hlavného
      kontrolóra <br>a jeho plat, schvaľovať odmenu hlavnému kontrolórovi,
    </li>
    <li>schvaľovať štatút obce, rokovací poriadok obecného zastupiteľstva a zásady odmeňovania poslancov,</li>
    <li>zriaďovať, zrušovať a kontrolovať rozpočtové a príspevkové organizácie obce a na návrh starostu
      vymenúvať a odvolávať<br> ich vedúcich (riaditeľov), zakladať a zrušovať obchodné spoločnosti a iné
      právnické osoby a schvaľovať zástupcov obce <br>do ich štatutárnych a kontrolných orgánov, ako aj
      schvaľovať majetkovú účasť obce v právnickej osobe,</li>
    <li>schvaľovať združovanie obecných prostriedkov a činností a účasť v združeniach, ako aj zriadenie
      spoločného <br> regionálneho alebo záujmového fondu,</li>
    <li>zriaďovať a zrušovať orgány potrebné na samosprávu obce a určovať náplň ich práce,</li>
    <li>udeľovať čestné občianstvo obce, obecné vyznamenania a ceny,</li>
    <li>ustanoviť erb obce, vlajku obce, pečať obce, prípadne znelku obce,</li>
    <li>vydávať súhlas s pričlenením obce podľa § 2aa ods. 1.</li>
  </ol>
  <hr style="width: 80vw; margin-left: 10vw; margin-top: 30px; margin-bottom: 30px;">
  <h3 style="margin-top: 30px;">§ 12</h3>
  <h4 style="margin-top: 30px;margin-bottom: 30px;">Rokovanie obecného zastupiteľstva</h4>
  <p style="text-align: left; margin-left: 15vw;">(1) Obecné zastupiteľstvo zasadá podľa potreby, najmenej však raz za tri mesiace. Ak požiada o zvolanie
    zasadnutia obecného <br>  zastupiteľstva aspoň tretina poslancov, starosta zvolá zasadnutie obecného zastupiteľstva
    tak,
    aby sa uskutočnilo do 15 dní od <br> doručenia žiadosti na jeho konanie. Ustanovujúce zasadnutie obecného
    zastupiteľstva zvolá starosta zvolený v predchádzajúcom  <br> volebnom období tak, aby sa uskutočnilo do 30 dní od
    vykonania volieb. Obecné zastupiteľstvo zasadá v obci, v ktorej bolo zvolené.</p>
  <hr style="width: 80vw; margin-left: 10vw; margin-top: 30px; margin-bottom: 30px;">

  <h3>Zákon č. 369/1990 Zb.</h3>
  <h4 style="margin-top: 10px;">Zákon Slovenskej národnej rady o obecnom zriadení</h4>
  <h3 style="margin-top: 10px;">§ 15</h3>
  <h4 style="margin-top: 10px;">Komisie</h4>

  <ul style="margin-top: 30px; margin-bottom: 30px;text-align: left; margin-left: 15vw;">
    <li>- Obecné zastupiteľstvo môže zriaďovať komisie ako svoje stále alebo dočasné poradné, iniciatívne a
      kontrolné orgány.</li>
    <li>- Komisie sú zložené z poslancov a z ďalších osôb zvolených obecným zastupiteľstvom.</li>
    <li>- Zloženie a úlohy komisií vymedzuje obecné zastupiteľstvo.</li>
    <li>- Členovi komisie, ktorý nie je poslanec, možno poskytnúť odmenu v kalendárnom roku najviac jednu
       polovicu mesačného <br>platu starostu bez zvýšenia podľa príslušnej platovej skupiny;13) to sa vzťahuje aj na
      člena výboru mestskej časti, ktorý nie je <br>poslanec.
      Komisie OZ na rok 2022 - 2026
      Komisia podľa čl. 7 ods. 5 zákona č. 357/2004 Z.z. o ochrane verejného záujmu
      <br>pri výkone funkcií verejných funkcionárov v znení neskorších predpisov.</li>
  </ul>
</div>
