<div class="top-header">

  <div class="left-header-wrapper">
    <div class="left-header-img">
      <img class="erb" src="../../../assets/images/erb.png" (click)="navigateHome()"/>

    </div>
    <div class="left-header-text">
      <h1 class="kec-lip-text">Kecerovský Lipovec</h1>
      <h4 class="web-str-text">Webová stránka obce</h4>
    </div>
  </div>

  <div class="right-header-wrapper">
    <h1 class="right-header-phone">+421 111 222 333</h1>
    <h1 class="right-header-mail">Kecerovsky&#64;lipovec.com</h1>

    <a href="https://www.facebook.com/profile.php?id=100087881336169">
      <i class="fa-brands fa-facebook right-header-fb" style="transform: scale(1.4); margin-right: 7px"></i>
    </a>
  </div>

</div>


