<div>
  <h1 style="margin-bottom: 30px;">Hlavný kontrolór</h1>
  <p>Ing. Gabriela DOROVOVÁ</p>
  <p>dorovova&#64;gmail.com</p>
  <hr style="width: 70vw; margin-left: 15vw; margin-top: 30px; margin-bottom: 30px;">

  <h2>Hlavný kontrolór</h2>
  <h3>§ 18</h3>
  <h4>Postavenie hlavného kontrolóra</h4>
  <p style="text-align: left; margin-left: 15vw;">(1) Hlavného kontrolóra volí a odvoláva obecné zastupiteľstvo. Hlavný
    kontrolór je zamestnancom obce a ak tento
    zákon <br>neustanovuje inak, vzťahujú sa na neho všetky práva a povinnosti ostatného vedúceho zamestnanca podľa
    osobitného <br> predpisu. Hlavný kontrolór nesmie bez súhlasu obecného zastupiteľstva podnikať
    alebo vykonávať inú zárobkovú činnosť <br>a byť členom riadiacich, kontrolných alebo dozorných orgánov právnických
    osôb, ktoré vykonávajú podnikateľskú činnosť. <br> Toto obmedzenie sa nevzťahuje na vedeckú činnosť, pedagogickú
    činnosť, lektorskú činnosť, prednášateľskú činnosť, <br>prekladateľskú činnosť, publicistickú činnosť, literárnu
    alebo umeleckú činnosť a na správu vlastného majetku alebo <br>správu majetku svojich maloletých detí. Kontrolnú
    činnosť vykonáva nezávisle a nestranne v súlade so základnými <br>pravidlami kontrolnej činnosti.</p>
  <p>(2) Funkcia hlavného kontrolóra je nezlučiteľná s funkciou:</p>
  <ul style="text-align: left; margin-left: 15vw;">
    <li>a) poslanca,</li>
    <li>b) starostu,</li>
    <li>c) člena orgánu právnickej osoby, ktorej zriaďovateľom alebo zakladateľom je obec,</li>
    <li>d) iného zamestnanca obce,</li>
    <li>e) podľa osobitného zákona.</li>
  </ul>
  <hr style="width: 70vw; margin-left: 15vw; margin-top: 30px; margin-bottom: 30px;">

  <h3>§ 18a</h3>
  <h4 style="margin-bottom: 30px;">Predpoklady na výkon funkcie, voľba a skončenie výkonu funkcie</h4>
  <p style="text-align: left; margin-left: 15vw;">(1) Kvalifikačným predpokladom na funkciu hlavného kontrolóra je
    ukončené minimálne úplné stredné vzdelanie.</p>
  <p style="text-align: left; margin-left: 15vw;">(2) Deň konania voľby hlavného kontrolóra vyhlási obecné
    zastupiteľstvo na úradnej tabuli a spôsobom v mieste<br>
    obvyklým najmenej 40 dní pred dňom konania voľby tak, aby sa voľba vykonala počas posledných 60 dní funkčného<br>
    obdobia doterajšieho hlavného kontrolóra...</p>
  <p style="text-align: left; margin-left: 15vw;">(3) Na zvolenie hlavného kontrolóra je potrebný súhlas
    nadpolovičnej väčšiny všetkých poslancov...</p>
  <p style="text-align: left; margin-left: 15vw;">(4) Ak výkon funkcie hlavného kontrolóra zaniká spôsobom podľa odseku
    8 písm. a), b) alebo d), vyhlási
    zastupiteľstvo<br> nové voľby hlavného kontrolóra tak, aby sa konali najneskôr do 60 dní odo dňa skončenia výkonu
    funkcie hlavného<br> kontrolóra.</p>
  <p style="text-align: left; margin-left: 15vw;">(5) Hlavného kontrolóra volí obecné zastupiteľstvo na šesť rokov. Jeho
    funkčné obdobie sa začína dňom, ktorý je<br>
    určený ako deň nástupu do práce.</p>
  <p style="text-align: left; margin-left: 15vw;">(6) Hlavnému kontrolórovi vzniká po zvolení nárok na uzavretie
    pracovnej zmluvy s obcou. Pracovný pomer možno<br>
    dohodnúť aj na kratší pracovný čas, ktorého dĺžku určí obecné zastupiteľstvo pred vyhlásením voľby kontrolóra.</p>
  <p style="text-align: left; margin-left: 15vw;">(7) Starosta je povinný s právoplatne zvoleným hlavným kontrolórom
    uzavrieť pracovnú zmluvu najneskôr v deň<br>
    nasledujúci po dni skončenia funkčného obdobia predchádzajúceho hlavného kontrolóra. Deň nástupu do práce<br> sa
    určí na
    deň nasledujúci po dni skončenia funkčného obdobia predchádzajúceho hlavného kontrolóra.</p>
  <p style="text-align: left; margin-left: 15vw;">(8) Výkon funkcie hlavného kontrolóra zaniká:</p>
  <ul style="text-align: left; margin-left: 15vw;">
    <li>a) vzdaním sa funkcie,</li>
    <li>b) odvolaním z funkcie,</li>
    <li>c) uplynutím jeho funkčného obdobia,</li>
    <li>d) smrťou alebo vyhlásením za mŕtveho,</li>
    <li>e) dňom nadobudnutia právoplatnosti rozsudku, ktorým bol pozbavený spôsobilosti na právne úkony alebo<br> ktorým
      bola jeho spôsobilosť na právne úkony obmedzená,
    </li>
    <li>f) dňom nadobudnutia právoplatnosti rozsudku, ktorým bol odsúdený za úmyselný trestný čin alebo<br> právoplatne
      odsúdený za trestný čin, ak výkon trestu odňatia slobody nebol podmienečne odložený,
    </li>
    <li> g) dňom, keď začal vykonávať funkciu podľa § 18 ods. 2.</li>
  </ul>
  <p style="text-align: left; margin-left: 15vw;">(9) Obecné zastupiteľstvo môže odvolať hlavného kontrolóra z funkcie,
    ak</p>
  <ul style="text-align: left; margin-left: 15vw;">
    <li>a) opakovane alebo zvlášť hrubým spôsobom poruší povinnosti zamestnanca alebo vedúceho zamestnanca,</li>
    <li>b) hrubo alebo opakovane zanedbáva povinnosti vyplývajúce z jeho funkcie a bol na to aspoň raz písomne<br>
      upozornený obecným zastupiteľstvom,
    </li>
    <li>c) uvedie nepravdivý údaj v čestnom vyhlásení podávanom podľa § 18 ods. 1 alebo v údajoch o svojich <br>majetkových
      pomeroch.
    </li>
  </ul>
  <p style="text-align: left; margin-left: 15vw;">(10) Na odvolanie hlavného kontrolóra z funkcie je potrebný súhlas
    nadpolovičnej väčšiny všetkých poslancov.</p>
  <p style="text-align: left; margin-left: 15vw;">(11) Dňom zániku výkonu funkcie hlavného kontrolóra zaniká aj jeho
    pracovný pomer.</p>

  <hr style="width: 70vw; margin-left: 15vw; margin-top: 30px; margin-bottom: 30px;">

  <h3>§ 18d</h3>
  <h4>Rozsah kontrolnej činnosti
  </h4>
  <p style="text-align: left; margin-left: 15vw;">(1) Kontrolnou činnosťou sa rozumie kontrola zákonnosti, účinnosti,
    hospodárnosti a efektívnosti pri hospodárení <br> a nakladaní s majetkom a majetkovými právami obce, ako aj s
    majetkom, ktorý obec užíva podľa osobitných predpisov,<br> kontrola príjmov, výdavkov a finančných operácií obce,
    kontrola vybavovania sťažností a petícií, kontrola dodržiavania <br>všeobecne záväzných právnych predpisov vrátane
    nariadení obce, kontrola plnenia uznesení obecného zastupiteľstva,<br> kontrola dodržiavania interných predpisov
    obce a kontrola plnenia ďalších úloh ustanovených osobitnými predpismi.</p>
  <p style="text-align: left; margin-left: 15vw;">(2) Kontrolnej činnosti podľa tohto zákona podlieha</p>

  <ul style="text-align: left; margin-left: 15vw;">
    <li>a) obecný úrad,
    </li>
    <li>b) rozpočtové a príspevkové organizácie zriadené obcou,
    </li>
    <li>c) právnické osoby, v ktorých má obec majetkovú účasť, a iné osoby, ktoré nakladajú s majetkom obce alebo
      ktorým <br>bol majetok obce prenechaný na užívanie, a to v rozsahu dotýkajúcom sa tohto majetku,
    </li>
    <li>d) osoby, ktorým boli poskytnuté z rozpočtu obce účelové dotácie alebo návratné finančné výpomoci, či
      nenávratné <br>finančné výpomoci podľa osobitného predpisu v rozsahu nakladania s týmito prostriedkami.

    </li>
  </ul>

  <p style="text-align: left; margin-left: 15vw;">(3) Kontrolná činnosť podľa odseku 1 sa nevzťahuje na konanie, v
    ktorom v oblasti verejnej správy obec <br>rozhoduje o právach, právom chránených záujmoch alebo povinnostiach
    fyzických osôb a právnických osôb.</p>
  <hr style="width: 70vw; margin-left: 15vw; margin-top: 30px; margin-bottom: 30px;">
  <h3>§ 18e</h3>
  <h4>Pravidlá kontrolnej činnosti
  </h4>
  <p style="text-align: left; margin-left: 15vw;">Hlavný kontrolór pri výkone kontrolnej činnosti postupuje podľa
    pravidiel, ktoré ustanovuje osobitný zákon.16a) <br>Ďalšie podrobnosti o pravidlách kontrolnej činnosti môže
    ustanoviť obec uznesením.
  </p>
  <hr style="width: 70vw; margin-left: 15vw; margin-top: 30px; margin-bottom: 30px;">


  <h3>§ 18f</h3>
  <h4>Úlohy hlavného kontrolóra

  </h4>
  <p style="text-align: left; margin-left: 15vw;">(1) Hlavný kontrolór </p>
  <ul style="text-align: left; margin-left: 15vw;">
    <li>a) vykonáva kontrolu v rozsahu ustanovení § 18d,</li>
    <li>b) predkladá obecnému zastupiteľstvu raz za šesť mesiacov návrh plánu kontrolnej činnosti, ktorý musí <br> byť
      najneskôr 15 dní pred prerokovaním v zastupiteľstve zverejnený spôsobom v obci obvyklým,</li>
    <li>c) vypracúva odborné stanoviská k návrhu rozpočtu obce a k návrhu záverečného účtu obce pred<br> jeho schválením v
      obecnom zastupiteľstve,</li>
    <li>d) predkladá správu o výsledkoch kontroly priamo obecnému zastupiteľstvu na jeho najbližšom zasadnutí,</li>
    <li>e) predkladá obecnému zastupiteľstvu najmenej raz ročne správu o kontrolnej činnosti, a to do 60 dní<br> po uplynutí
      kalendárneho roku,</li>
    <li>f) spolupracuje so štátnymi orgánmi vo veciach kontroly hospodárenia s prostriedkami pridelenými <br>obci zo
      štátneho rozpočtu alebo zo štrukturálnych fondov Európskej únie,</li>
    <li>g) vybavuje sťažnosti, ak tak ustanovuje štatút obce,</li>
    <li>h) je povinný vykonať kontrolu, ak ho o to požiada obecné zastupiteľstvo alebo starosta, ak vec <br>neznesie odklad,</li>
    <li>i) plní ďalšie úlohy ustanovené osobitným zákonom.</li>
  </ul>
  <p style="text-align: left; margin-left: 15vw;">(2) Hlavný kontrolór sa zúčastňuje na zasadnutiach obecného
    zastupiteľstva a obecnej rady s hlasom<br> poradným; môže sa zúčastňovať aj na zasadnutiach komisií zriadených
    obecným zastupiteľstvom.</p>
  <p style="text-align: left; margin-left: 15vw;">(3) Hlavný kontrolór je oprávnený nahliadať do dokladov, ako aj do iných dokumentov v rozsahu kontrolnej <br> činnosti podľa § 18d.</p>
  <p style="text-align: left; margin-left: 15vw;">(4) Hlavný kontrolór je povinný na požiadanie bezodkladne sprístupniť výsledky kontrol poslancom<br>  alebo starostovi.</p>

</div>
