<table>
  <tr>
    <th>PDF na stiahnutie</th>
  </tr>
  <tr>
    <td><a href="./assets/Pdfs/OZ/Zápisnica OZ 23.06.2023.pdf" target="_blank">Zápisnica OZ 23.06.2023</a>
    </td>
  </tr>
  <tr>
    <td><a href="./assets/Pdfs/OZ/Zápisnica OZ 19.05.2023.pdf" target="_blank">Zápisnica OZ 19.05.2023</a>
    </td>
  </tr>
  <tr>
    <td><a href="./assets/Pdfs/OZ/Zápisnica OZ 15.03.2023.pdf" target="_blank">Zápisnica OZ 15.03.2023</a>
    </td>
  </tr>

  <tr>
    <td><a href="./assets/Pdfs/OZ/Zápisnica OZ 15.12.2022.pdf" target="_blank">Zápisnica OZ 15.12.2022</a>
    </td>
  </tr>

  <tr>
    <td><a href="./assets/Pdfs/OZ/Zápisnica OZ 26.11.2022.pdf" target="_blank">Zápisnica OZ 26.11.2022</a>
    </td>
  </tr>
  <tr>
    <td><a href="./assets/Pdfs/OZ/Zápisnica OZ 25.11.2022.pdf" target="_blank">Zápisnica OZ 25.11.2022</a>
    </td>
  </tr>

</table>
